:root {
  font-family: "Red Hat Display", system-ui;
  /* box shadow */
  --shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  max-width: 23.4rem;
  background-color: #fafafa;
  padding: 1.5rem;
  margin: 5rem;
}
.hero img {
  max-width: 25rem;
}
.people-grid img {
  max-width: 9rem;
  max-height: 9rem;
  border-radius: 0.5rem;
}
header img {
  display: block;
  margin: 3rem auto 4rem auto;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.3;
  margin-bottom: 1.5rem;
}
.meet-description {
  color: #87879d;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 2rem;
}
.cta-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.cta-flex a {
  text-decoration: none;
  color: #fafafa;
  font-weight: 900;
  border-radius: 1.8rem;
  padding: 1.2rem 2rem;
}
.cta-download {
  background-color: #4d96a9;
}
.cta-question {
  background-color: #855fb1;
}
